

.become--host--nav {
    background-color: rgb(23, 59, 167);
    display: flex;
    align-items: center;
    padding: 1em;
    justify-content: space-between;
}

.become--host--nav--ctas {
    display: flex;
    align-items: center;
    gap: 2em;
}

.become--host--nav--ctas a {
    color: white;
    font-size: 1rem;
}

.become--host--nav--ctas .icon {
    font-size: 1.5rem;
}