.newProperty--facilities--page--container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 60%;
    background-color: white;
    padding: 2em;
}

.newProperty--facilities--page--container > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.newProperty--facilities--page--container select {
    font-size: 1rem;
    background-color: white;
    padding: 0.5em;
    border: 1px solid #cdcaca;
}

.newProperty--facilities--page--container select:focus {
    outline: 1px solid royalblue;
}

.popular--facilities > div {
    display: flex;
    gap: 1em;
}

.newProperty--facilities--page--container .continue--btn {
    padding: 0.5em 0;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 3px;
}