.passwordForm--page--container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}



.passwordForm--page--container form > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.passwordForm--page--container form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.passwordForm--page--container > form input {
    padding: 0.6em;
    font-size: 1rem;
    /* outline: unset; */
    border-radius: 3px;
    border: 1px solid silver;
    
}

.passwordForm--page--container > form input:focus {
    outline: 1px solid royalblue;
}

.passwordForm--page--container > form button {
    padding: 0.6em 0;
    border: none;
    background-color: royalblue;
    color: white;
    font-size: 1.1rem;
    border-radius: 3px;
}