.incompleteProperties--container {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #dad5d5;
}

.property--head {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr 2fr 2fr 1fr;
    padding: 1em ;
    color: #161616;
    border-bottom: 1px solid #dad5d5;
}

.incomplete--list {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr 2fr 2fr 1fr;
    gap: 1em;
    padding: 1em ;
    border-bottom: 1px solid #dad5d5;
}

.property--head > div {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.progress {
    display: flex;
    align-items: center;
    gap: 1em;

}

p.action {
   color: royalblue;
}

p.action:hover {
    text-decoration: underline;
    cursor: pointer;
}

.bar {
    background-color: rgb(201, 212, 244);
    height: 5px;
    width: 90%;
    position: relative;
}

.gold--level {
    background-color: rgb(243, 214, 54);
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.delete--parent {
    display: flex;
    align-items: center;
    color: red;
    gap: 0.5em;
}

.delete--parent p {
    color: red;
}

.delete--parent p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.incomplete--list .initials--parent {
    display: flex;
    gap: 1em;
    align-items: center;
}

.incomplete--list .initials {
    padding: 0.5em;
    border-radius: 5px;
    width: 40px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-color: #5a5353;
}

.property--name:hover {
    text-decoration: underline;
    cursor: pointer;
}