.price--line {
    display: flex;
    align-items: center;
}

.search--tag {
    width: 80%;
    display: flex;
    border: 2px solid gold;
}

.date--search , .guest--search {
    width: 40%;
    position: relative;
}

.date--search .icon, .guest--search .icon {
    font-size: 1.5rem;
}

.guest--search--area {
    padding: 0.5em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.search--btn {
    width: 20%;
    border: none;
    background-color: royalblue;
    color: white;
    font-weight: 500;
    font-size: 1rem;
}

.date--modal {
    position: absolute;
    top: 105%;
}

.guest--search--modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1em;
    top: 100%;
    width: 300px;
    padding: 1em;
    background-color: white;
    box-shadow: 0px 0px 0px 1px rgb(133, 130, 130);
}

.guest--search--modal > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guest--search--modal .done--btn {
    padding: 0.5em 0;
    font-size: 1rem;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 3px;
}