.most--popular--facilities {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}

.header {
    display: flex;
    gap: 1em;
    align-items: center;
}

.facilities--area--container {
   display: flex;
   flex-wrap: wrap;
   flex-grow: unset;
}


.bathroom  {
    padding: 1em;
}

.bathroom .header {
    display: flex;
}

.header .icon {
    font-size: 1.5rem;
}