.header--container {
    display: flex;
    gap: 1em;
    padding: 2em;
    padding-bottom: 3em;
}

.header--links {
    display: flex;
    align-items: center;
    padding: 0.8em;
    border: 1px solid #3535b7;
    border-radius: 20px;
    color: white;
    gap: 0.5em;
    cursor: pointer;
}

.header--icons {
    font-size: 1.3rem;
}

.header--links:hover {
    background-color: #5353de;
}