.subscription--area {
    background-color: #00224f;
}

.subscrption--section--parent {
    padding: 50px 0;
}

.subscrption--section--child {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.subscrption--section--child h3 {
    display: block;
    font-size: 1.5em;
    color: white;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
}

.subscrption--section--child p {
    font-size: 16px;
    line-height: 24px;
    color: #bdbdbd;
    margin-top: 1em;
}

.subscrption--section--child form {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
    margin-top: 1em;
}

.subscrption--section--child input {
    font-size: 20px;
    line-height: 28px;
    color: #6b6b6b;
    border: none;
    outline: unset;
    border-radius: 3px;
    font-weight: 100;
    padding: 15px;
    width: 400px;
}
.subscrption--section--child button {
    font-size: 16px;
    line-height: 24px;
    border-radius: 3px;
    border: 0;
    padding: 15px 60px;
    background-color: #006CE4;
    color: white;
}

.big--links--parent {
    background-color: #003580;
    text-align: center;
    
}

.big--links--child {
    width: 1200px;
    margin: 0 auto;
}

.one {
    padding: 1em 0;
}

.two {
    padding: 0.5em 0;
}

.link--list {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.link--list a {
    font-family: 600;
    line-height: 24px;
    color: white;
    text-decoration: underline;
    font-size: 1rem;
}

.link--topics {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.link--topics a {
    color: #006CE4;
    font-size: 1rem;
    font-weight: 500;
}

.link--topics a:hover {
    color: goldenrod;
}

.small--links--child {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 2em 0 4em 0;
}



