.finalStep--page--container {
    display: flex;
    gap: 1.5em;
    min-height: 60vh;
    width: 100%;
    justify-content: space-between;
}

.selected--hotel--details {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 30%;
}

.user--payment--details {
    width: 70%;
}