.reserve--wrapper {
    padding: 4em 2em;
}

.reserveLayout--container {
   display: flex; 
   align-items: center;
   justify-content: space-between;
}

.step {
    display: flex;
    gap: 0.5em;
    align-items: center;
    font-weight: 600;
    width: max-content;
    margin: 0.5em;
    
}

 .your--details > span {
    color: white;
    background-color: royalblue;
}

.parent {
    display: flex;
    padding: 0.75em 1em;
    border-radius: 50%;
    border: 1px solid rgb(137, 134, 134);
}


.reserveLayout--container .icon {
    font-size: 2.5rem;
    color: royalblue;
}

.line {
    background-color: black;
    height: 1px;
    width: 25%;
}